

body{
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

    /* border: red 1px solid; */

}

::-webkit-scrollbar {
    width: 0px;
  }

#a{
    /* border: black 1px solid; */
    padding: 10px;
}


#header{
    /* background-color: green; */
    text-align: center;
    

    /* border: 1px solid green; */
    font-size: 30px;
}

.menu{
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    /* border: blue 1px solid; */
}

.center{
    justify-content: space-around;
    justify-content: space-between
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu a:hover{
    text-decoration: none;
    color: red;
}



.link:hover{
    cursor: pointer;
    color: red;
}

#container{

    align-items: center;
    /* border: 1px solid blue; */
    margin: 50px;
}

.breaking_image{
    max-width:100%;
    max-height:100%;
}




/* footer */
#footer{
    text-align: center;
    /* border: 1px solid blue; */
    position: fixed;
    bottom: 0;
    right: 20px;

}